
Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, PANDAS, matplotlib) it becomes a powerful environment for scientific computing.

 # PANDAS

Pandas is one of the most popular Python libraries for Data Science and Analytics. I like to say it’s the “SQL of Python.” Why? Because pandas helps you to manage two-dimensional data tables in Python. Of course, it has many more features.

### The first few lines of code is to import these libraries into your Jupyter notebook.

In [3]:
import numpy as np
import pandas as pd

Okay, now we have everything! Let’s start with this pandas tutorial!
The first question is:How to open data files in pandas?
In this pandas tutorial, I’ll focus mostly on DataFrames. The reason is simple: most of the analytical methods I will talk about will make more sense in a 2D datatable than in a 1D array.

Okay, time to put things into practice! Let’s load a .csv data file into pandas!
There is a function for it, called read_csv().

### Import the file name zoo.csv to this jupyter notebook using read.csv() function.

     2018-01-01 00:01:01;read;country_7;2458151261;SEO;North America
0     2018-01-01 00:03:20;read;country_7;2458151262;...
1     2018-01-01 00:04:01;read;country_7;2458151263;...
2     2018-01-01 00:04:02;read;country_7;2458151264;...
3     2018-01-01 00:05:03;read;country_8;2458151265;...
4     2018-01-01 00:05:42;read;country_6;2458151266;...
5     2018-01-01 00:06:06;read;country_2;2458151267;...
6     2018-01-01 00:06:15;read;country_6;2458151268;...
7     2018-01-01 00:07:21;read;country_7;2458151269;...
8     2018-01-01 00:07:29;read;country_5;2458151270;...
9     2018-01-01 00:07:57;read;country_5;2458151271;...
10    2018-01-01 00:08:57;read;country_7;2458151272;...
11    2018-01-01 00:09:11;read;country_5;2458151273;...
12    2018-01-01 00:09:29;read;country_2;2458151274;...
13    2018-01-01 00:11:06;read;country_7;2458151275;...
14    2018-01-01 00:11:22;read;country_7;2458151276;...
15    2018-01-01 00:13:05;read;country_8;2458151277;...
16    2018-01-01 00:13:06;read;country_2;2458151278;...
17    2018-01-01 00:13:39;read;country_4;2458151279;...
18    2018-01-01 00:14:53;read;country_2;2458151280;...
19    2018-01-01 00:15:44;read;country_2;2458151281;...
20    2018-01-01 00:15:50;read;country_7;2458151282;...
21    2018-01-01 00:17:15;read;country_2;2458151283;...
22    2018-01-01 00:17:31;read;country_2;2458151284;...
23    2018-01-01 00:17:58;read;country_7;2458151285;...
24    2018-01-01 00:18:55;read;country_2;2458151286;...
25    2018-01-01 00:20:18;read;country_5;2458151287;...
26    2018-01-01 00:20:44;read;country_2;2458151288;...
27    2018-01-01 00:23:16;read;country_2;2458151289;...
28    2018-01-01 00:23:51;read;country_7;2458151290;...
29    2018-01-01 00:24:52;read;country_6;2458151291;...
...                                                 ...
1764  2018-01-01 23:41:11;read;country_2;2458153026;...
1765  2018-01-01 23:41:51;read;country_5;2458153027;...
1766  2018-01-01 23:43:54;read;country_5;2458153028;...
1767  2018-01-01 23:44:52;read;country_8;2458153029;...
1768  2018-01-01 23:45:09;read;country_5;2458153030;...
1769  2018-01-01 23:45:12;read;country_6;2458153031;...
1770  2018-01-01 23:45:56;read;country_5;2458153032;...
1771  2018-01-01 23:45:58;read;country_7;2458153033;...
1772  2018-01-01 23:46:13;read;country_8;2458153034;...
1773  2018-01-01 23:46:22;read;country_2;2458153035;...
1774  2018-01-01 23:47:19;read;country_2;2458153036;...
1775  2018-01-01 23:49:04;read;country_6;2458153037;...
1776  2018-01-01 23:49:52;read;country_5;2458153038;...
1777  2018-01-01 23:51:17;read;country_2;2458153039;...
1778  2018-01-01 23:51:25;read;country_4;2458153040;...
1779  2018-01-01 23:51:46;read;country_8;2458153041;...
1780  2018-01-01 23:51:52;read;country_2;2458153042;...
1781  2018-01-01 23:53:03;read;country_2;2458153043;...
1782  2018-01-01 23:53:33;read;country_3;2458153044;...
1783  2018-01-01 23:54:03;read;country_2;2458153045;...
1784  2018-01-01 23:54:26;read;country_2;2458153046;...
1785  2018-01-01 23:54:39;read;country_6;2458153047;...
1786  2018-01-01 23:54:45;read;country_2;2458153048;...
1787  2018-01-01 23:55:04;read;country_7;2458153049;...
1788  2018-01-01 23:56:42;read;country_4;2458153050;...
1789  2018-01-01 23:57:14;read;country_2;2458153051;...
1790  2018-01-01 23:58:33;read;country_8;2458153052;...
1791  2018-01-01 23:59:36;read;country_6;2458153053;...
1792  2018-01-01 23:59:36;read;country_7;2458153054;...
1793  2018-01-01 23:59:38;read;country_5;2458153055;...

[1794 rows x 1 columns]

Does something feel off? Yes, this time we didn’t have a header in our csv file, so we have to set it up manually! 


### Add the names parameter to your function!

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10    2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
15    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
17    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
18    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
19    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
20    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
21    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
22    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
23    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
24    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
25    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
26    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
28    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
29    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
...                   ...   ...        ...         ...      ...            ...
1765  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1766  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1767  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1768  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1769  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1770  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1771  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1772  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1773  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1774  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1775  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1776  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1777  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1778  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1779  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1780  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1781  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1783  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1784  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1786  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1788  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1789  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

Better!
And with that, we finally loaded our .csv data into a pandas dataframe!



### Make a variable to store the read.csv() function named as article_read().

In [16]:
article_read

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10    2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
15    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
17    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
18    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
19    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
20    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
21    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
22    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
23    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
24    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
25    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
26    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
28    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
29    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
...                   ...   ...        ...         ...      ...            ...
1765  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1766  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1767  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1768  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1769  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1770  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1771  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1772  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1773  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1774  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1775  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1776  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1777  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1778  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1779  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1780  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1781  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1783  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1784  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1786  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1788  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1789  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

#### Sometimes, it’s handy not to print the whole dataframe and flood your screen with data. When a few lines is enough, you can print only the first 5 lines – by using the head(),tail() or sample() functions of pandas library.

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

              my_datetime event    country     user_id   source          topic
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

article_read.sample(5)

Now,Let’s say you want to print the ‘country’ and the ‘user_id’ columns only.
You should use this syntax:

     country     user_id
0  country_7  2458151261
1  country_7  2458151262
2  country_7  2458151263
3  country_7  2458151264
4  country_8  2458151265

 Filter for specific values in your dataframe.

Let’s say, you want to see a list of only the users who came from the ‘country_7’ source. In this case you have to filter for the ‘country_7’ value in the ‘country’ column:

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
8  2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America

## So, now a short assignment to test the understanding of all the above functions!

##### Select the user_id, the country and the topic columns for the users who are from country_2! Print the first five rows only!

       user_id   topic    country
6   2458151267  Europe  country_2
13  2458151274  Europe  country_2
17  2458151278    Asia  country_2
19  2458151280    Asia  country_2
20  2458151281    Asia  country_2